
<div class="jumbotron text-center">
       <h1>Pinterested</h1>
       <p class="lead">Simple Pinterest clone to learn ruby on rails.</p>
       <a class="btn btn-lg btn-success" href="#" role="button">Sign up </a>
       <a class="btn btn-lg btn-success" href="#" role="button">Log int</a>
     </div>
